In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("TITANIC SURVIVAL PREDICTION.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
df.drop(["PassengerId", "Name", "SibSp","Parch","Ticket", "Cabin","Embarked"], axis = 1 , inplace=True)

In [8]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875

In [9]:
X=df.drop(["Survived"], axis = 1)
Y=df["Survived"]

In [10]:
dummies = pd.get_dummies(X["Sex"]) 
dummies.head(3)

   female   male
0   False   True
1    True  False
2   False   True

In [11]:
inputs = pd.concat([X, dummies], axis='columns')

In [12]:
inputs.head(10)

   Pclass     Sex   Age     Fare  female   male
0       3    male  34.5   7.8292   False   True
1       3  female  47.0   7.0000    True  False
2       2    male  62.0   9.6875   False   True
3       3    male  27.0   8.6625   False   True
4       3  female  22.0  12.2875    True  False
5       3    male  14.0   9.2250   False   True
6       3  female  30.0   7.6292    True  False
7       2    male  26.0  29.0000   False   True
8       3  female  18.0   7.2292    True  False
9       3    male  21.0  24.1500   False   True

In [13]:
inputs.drop("Sex", axis='columns', inplace=True)
inputs.head(5)

   Pclass   Age     Fare  female   male
0       3  34.5   7.8292   False   True
1       3  47.0   7.0000    True  False
2       2  62.0   9.6875   False   True
3       3  27.0   8.6625   False   True
4       3  22.0  12.2875    True  False

In [14]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Age     332 non-null    float64
 2   Fare    417 non-null    float64
 3   female  418 non-null    bool
 4   male    418 non-null    bool
dtypes: bool(2), float64(2), int64(1)
memory usage: 10.7 KB

In [15]:
inputs["Age"] = inputs["Age"].fillna(inputs["Age"].mean())

In [16]:
inputs["Fare"] = inputs["Fare"].fillna(inputs["Fare"].mean())

In [18]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Age     418 non-null    float64
 2   Fare    418 non-null    float64
 3   female  418 non-null    bool
 4   male    418 non-null    bool
dtypes: bool(2), float64(2), int64(1)
memory usage: 10.7 KB

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(inputs, Y, test_size=0.2)

In [21]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [22]:
model.fit(X_train, y_train)

GaussianNB()

In [27]:
model.score(X_test,y_test)

1.0

In [24]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [28]:
y_pred_test = model.predict(X_test)

In [29]:
test_accuracy = accuracy_score(y_test, y_pred_test)
print("Test Accuracy:", test_accuracy)

Test Accuracy: 1.0

In [32]:
import numpy as np
cv_scores = cross_val_score(model, X_train, y_train, cv=5)  # 5-fold cross-validation
print("Cross-Validation Scores:", cv_scores)
print("Mean CV Score:", np.mean(cv_scores))

Cross-Validation Scores: [1. 1. 1. 1. 1.]
Mean CV Score: 1.0

In [34]:
model.predict(X_test.head(10))

array([1, 0, 1, 0, 1, 0, 0, 0, 0, 1], dtype=int64)